body
{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5));
	background-image: url(https://thumbs.gfycat.com/HealthyDirectLeopard.webp);
	background-size: 100%,100%;
}

.login-box
{
	max-height: 700px;
	float: none;
	margin:150px auto;
}

.login-left
{
	background: rgb(211,211,211,0.5);
	padding: 30px;

}

.login-right
{
	background: #fff;
	padding: 30px;
}

/*.form-control
{
	background-color: transparent ! important
}*/


input.text
{
	font-family: monospace;
}